<div class="container">
  <h1><%= current_user.name %></h1>

  <p><strong>My memberships</strong></p>
  <ul class="list-group">
    <% @memberships.each do |membership| %>
      <li class="list-group-item">
        <%= membership.gym.name %>: <%= membership.start_date %>
      </li>
    <% end %>
  </ul>
  <br>

  <%= link_to 'Add your gym', new_gym_path %>

  <div class="flexbox" style="display:flex">
    <div class="row">
      <% @gyms.each do |gym| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <%= link_to gym_path(gym) do %>
              <!-- Top half: Image -->
              <img src="<%= gym.preview %>" class="card-img-top" alt="<%= gym.name %>">
              <div class="card-body">
                <!-- Bottom half: Gym details -->
                <h5 class="card-title"><%= gym.name %></h5>
                <p class="card-text"><%= gym.description %></p>
                <p class="card-text">Average Rating: <%= gym.get_average_rating %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <div>
</div>
