<div class="container mt-5">
  <div class="row justify-content-center mb-4">
    <h1 class="text-center">GymFinder</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <%= simple_form_for :search, url: gyms_path, method: :get do |f| %>
        <div class="input-group mb-3">
          <%= f.input :query, label: false, input_html: { class: 'form-control rounded-pill', style: 'width: 400px;', placeholder: 'Search for a gym or location' } %>
          <div class="input-group-append ml-3">
            <%= button_tag(type: 'submit', class: 'btn btn-primary rounded-pill') do %>
              <i class="fas fa-search"></i> Search
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- In your home.html.erb -->
<div class="container">
  <div class="row">
    <% @gyms.each do |gym| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <!-- Top half: Image -->
          <img src= "<%= gym.preview %>" class="card-img-top" alt="<%= gym.name %>">
          <div class="card-body">
            <!-- Bottom half: Gym details -->
            <h5 class="card-title"><%= gym.name %></h5>
            <p class="card-text"><%= gym.description %></p>
            <p class="card-text">Average Rating: <%= gym.average_rating %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
