<div class="container mt-5">
    <h1 class="text-center">Search for a gym near you...</h1>
    <br>
        <%= form_with url: gyms_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a city name"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
  <div class="row justify-content-center mb-4">

  </div>
 <div class="splash">
<h1 class="text-center">Popular gyms</h1>
 </div>
 <br>
<!-- In your home.html.erb -->

    <div class="row">
      <% @gyms.each do |gym| %>
        <div class="col-3">
          <div class="card">
            <%= link_to gym_path(gym) do %>
              <!-- Top half: Image -->
              <img src="<%= gym.preview %>" class="card-img-top w-100" alt="<%= gym.name %>" style="width: 156px; height: 156px; object-fit: cover;">
              <div class="card-body">
                <!-- Bottom half: Gym details -->
                <h5 class="card-title"><%= gym.name %></h5>
                <p class="card-text"><%= gym.description %></p>
                <p class="card-text">Average Rating: <%= gym.get_average_rating %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <div>
