<h1 style="text-align:center">Gyms in  <span id="term"><%= params[:query] %></span> </h1>

<br>
<br>

<div class="flexbox" style="display:flex">
  <div class="container">
    <div class="row">
      <% @gyms.each do |gym| %>
        <div class="col-md-6 mb-2">
          <div class="card">
            <%= link_to gym_path(gym) do %>
              <!-- Top half: Image -->
              <img src="<%= gym.preview %>" class="card-img-top" alt="<%= gym.name %>" style="height: 200px; width: 100%; object-fit: cover;">
              <div class="card-body">
                <!-- Bottom half: Gym details -->
                <h5 class="card-title"><%= gym.name %></h5>
                <p class="card-text"><%= gym.description %></p>
                <p class="card-text">Average Rating: <%= gym.get_average_rating %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mapdiv">
  <div class="empty"></div>
  <div class="mapsearch" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="empty"></div>
  </div>
</div>
