<div>
  <h2><%= @gym.name %></h2>
  <p><%= @gym.address %></p>
  <p><%= @gym.description %></p>
  <p><%= @gym.price %></p>
</div>

 <div>
  <%=link_to 'Back to Gyms', user_gyms_path %>
</div>

  <div>
<% if current_user.owner_of_gym?(@gym) %>
    <%= link_to 'Edit Gym', edit_user_gym_path(@gym) %>
<% else %>
    <%= link_to 'Become a Member', user_membership_path %>
  </div>
<% end %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @gym.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>

<% if current_user && !current_user.owner_of_gym?(@gym) %>
<div>
  <%= link_to 'Add a Review', review_path %>

  <li class="list-group-item">
      <%= review.content %>
      <%= link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  </li>
<div>
<% end %>

