<div class="container">

  <div>
    <%=link_to 'Back to Gyms', root_path %>
  </div>

  <div class="mt-4">
    <h2><%= @gym.name %></h2>
    <p><%= @gym.address %></p>

    <p><%= @gym.description %></p>
    <p>$<%= @gym.price %> / day</p>
  </div>

  <div>
  <% if current_user.owner_of_gym?(@gym) %>
  <% else %>
      <%= link_to 'Become a Member', new_gym_membership_path(@gym) %>
    </div>
  <% end %>
<br>
<br>
  <div>
    <p><strong>Reviews</strong></p>
      <ul class="list-group rev">
        <% @gym.reviews.each do |review| %>
          <li class="list-group-item revl">
            <%= review.rating %> * -
            "<%= review.content %>"
            <small><em><%= review.user.email %></em></small>

            <% if current_user == review.user %>
              <%= link_to "Delete",
                review_path(review),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            <% end %>



          </li>
        <% end %>
      </ul>
    <br>
  </div>

  <% if current_user && !current_user.owner_of_gym?(@gym) %>
    <div>
      <%= link_to 'Add a Review', new_gym_review_path(@gym) %>
    </div>
  <% end %>




  <!-- Map container -->
  <div id="map" style="position: absolute; top: 70px; right: 50px; width: 300px; height: 300px;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
